body {
    width: 500px;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.wika-app {
    position: relative;
    width: 500px;
    height: auto;
    border: 1px solid darkgray;
    padding: 0px;
    overflow: hidden;
}






